.hamburgerButton {
  width: 50px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.hamburgerButton div {
  width: 50%;
  height: 4px;
  background-color: #C8A975;
}

@media (min-width: 1025px) {
  .hamburgerButton {
      display: none;
  }
}