.sideBarDrawer {
  height: 100%;
  width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #121212;
  z-index: 4;
  color: #c9aa71;
  transition: all .2s ease-out;
}

.sideBarDrawerShader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 3;
}